p {
	font-weight:lighter;
}

h2 {
    font-size: 2.3em;
    color: #000000;
    font-weight: 300;
    margin-top: 1%;
    margin-bottom: 2%;
}

h3 {
    font-size: 1.2em;
    color: indianred;
    font-weight: bold;
}

.info-box-content > p {
    font-size: 1em;
}

.nav-tabs {
    border: none;
}

.nav-tabs a {
    color: #ababab;
    border: none;
}

.info-box-content > p {
    font-size: 1.2em;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    border: none;
}
